{{define "header"}}
<HTML>
    <HEAD>
        <link rel="stylesheet" href="/resources/page-style.css">
        <link rel="stylesheet" href="/resources/menu-style.css">
        <link rel="stylesheet" href="/resources/trotsek.css">
    </HEAD>
    <BODY>
        <DIV id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/wallet">Wallet</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/entries">Entries</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/register">Register</a></li>
                <li><a href="/auth/login">Login</a></li>
            </ul>
        </DIV>
        <DIV class="contents">
            <!-- END OF PAGE HEADER -->
{{end}}