<h1>Reset Password</h1>
<p>If you cannot remember your password, enter your email address and we'll send you a recovery link to change your password.</p>
<form method="POST" action="/auth/login">
    <table>
        <tr><td>Email:</td><td><input type="email" value="" name="email"></td></tr>
        <tr><td colspan="2" align="center"><button type="submit">Send Recovery Link</button></tr></tr>
    </table>
</form>
<p>
    <a href="/auth/login">Login with email and password</a>
    <a href="/auth/register">Register as a new user</a>
</p>
